.jevel__box 
    .container
        .jevel__title
            .jevel__item__tr
                .jevel__item__ty(style=('background-image:url(assets/img/jevelend.jpg)'))
                .jevel__item__ti
                    .jevel__ti--img(style=('background-image:url(assets/img/jevelmin.jpg)'))
                    .jevel__ti--img(style=('background-image:url(assets/img/jevelmin.jpg)'))
                    .jevel__ti--img(style=('background-image:url(assets/img/jevelmin.jpg)'))
            .jevel__item__ps
                .jevel__item__to
                    p.item__to--p Артикул: 27114
                    button.item__to--button В корзину
                    h2.item__to--h2 286 200 сум
                    .item__box
                        .item__box__hill
                            button.item__box--button 
                                .button__pic
                                    img(src="assets/img/cart.png", alt="").button__pict
                                .button__text
                                    h4.button--h4 В корзину
                        .item__box__loop
                            .item__box__likeit
                                img(src="assets/img/like.png", alt="").like__bos
                            .item__box__saveit
                                p.item__box__save Сохранить
                        .item__box__type
                            .item__box__pod
                                img(src="assets/img/share.png", alt="").like__bos
                            .item__box__shareit
                                p.item__box__share Поделиться
                .jevel__item__tt
                    .tt__part
                        .tt__part--one
                            p.tt__part--p Состояние:
                        .tt__part--two
                            p.tt__mix--p Новое
                    .tt__part
                        .tt__part--one
                            p.tt__part--p Цвет
                        .tt__part--two
                            .tt__mix__div
                                .blue
                                    .blueone
                                    p.bluetwo Синий
                                .yellow
                                    .yellowone
                                    p.yellowtwo Золотой
                    .tt__part
                        .tt__part--one
                            p.tt__part--p Размер:
                        .tt__part--two
                            p.tt__mix--p OneSize
                    .tt__part  
                        .tt__part--one
                            p.tt__part--p Категории:
                        .tt__part--two  
                            .tt__mix__sf
                                .first
                                    p.mix--p Украшение
                                .first
                                    p.mix--p Колье иожерелье
                .jevel__item__tth
                    .tth--p Доставка
                    .tth--span Доставка по Узбекистану за 1 день.
                    .tth--p Есть вопросы?
                    .tth--span Звоните нам: +99899 111 22 33, +99891 122 33 44