.banner
    .container
        .banner__blocks
            .banner__items
                .banner__type(style=('background-image:url(assets/img/leaf.jpg)'))
                    p Оригинальные броши
            .banner__item
                .banner__title(style=('background-image:url(assets/img/shoes.jpg)'))
                    p Необычная обувь
                .banner__title(style=('background-image:url(assets/img/history.jpg)'))
                    p Винтаж
            .banner__item
                .banner__title(style=('background-image:url(assets/img/jevel1.jpg)'))
                    p Украшение
                .banner__title(style=('background-image:url(assets/img/rose1.jpg)'))
                    p Сувениры и подарки

