.container
    .comment
        .comment__box
            h2.comment--h2 Описание
            p.comment--p Бусы сестры в идеальном состоянии нового. Без дефектов и нюансов. Без сколов и царапин, в носке были дважды. <br>Все украшения из камня были куплены в GeoMarket. Камень натуральный. <br>Длина 47,5 см, диаметр бусин: 2 см, 1,5 и 0,5 см.<br>Изначальная стоимость этих бус на фото.<br>Тигровый глаз прославился своим необычайно красивым волнообразным радужным отливом и золотистым сиянием. Характерный переливчатый узор и рыжеватый <br> цвет, напоминающий окраску тигра. Дарит своему владельцу лучшие качества хищника – терпение, сосредоточенность, зоркость, решительность, выносливость.<br>Цитрин поднимает самооценку, добавляет уверенность в себе, упорядочивает мысли, побуждает к творчеству. <br>Он способен притягивать удачу в финансовых делах – кристалл цитрина, находящийся недалеко от наличных денег, будет <br>способствовать приросту богатства в <br>доме. Этот камень, как солнышко, приносит в дом тепло и свет, он способен налаживать отношения между людьми.
