footer.footer
    .footer__brend
        .container
            .footer__brend--text 
                p.footer__brend--p Популярные бренды
            .footer__brend--pic
                img(src="assets/img/zara.png", alt="").footer__brend--img
                img(src="assets/img/zara.png", alt="").footer__brend--img
                img(src="assets/img/zara.png", alt="").footer__brend--img
                img(src="assets/img/zara.png", alt="").footer__brend--img
                img(src="assets/img/zara.png", alt="").footer__brend--img
                img(src="assets/img/zara.png", alt="").footer__brend--img
                img(src="assets/img/zara.png", alt="").footer__brend--img
                img(src="assets/img/zara.png", alt="").footer__brend--img
    .container
        .footer__main 
            .footer__block О компании
                +menus('footer__menu','footer__item','О нас','Отзывы клиентов','Рекламодателям','Новости','Вакансии') 
            .footer__block Центр помощи
                +menus('footer__menu','footer__item','Как покупать?','Тарифы','Правила','Программа привилегий', 'Служба заботы о клиентах' ) 
            .footer__block Каталог товаров
                +menus('footer__menu','footer__item','Авторская одежда','Украшения ручной работы','Аксессуары handmade','Материалы для творчества', 'Для дома и интерьера') 
            .footer__block Как найти подарок?
                +menus('footer__menu','footer__item','Галерея коллекций','Популярные товары','Сувениры и подарки','Авторские картины', 'Сумки ручной работы', 'Куклы и игрушки ' ) 
            .footer__block Мы в соц.сетях
                .footer__social
                    a(href="#"): img(src="assets/img/facebook.png", alt="").footer--img 
                    a(href="#"): img(src="assets/img/instagram.png", alt="").footer--img 
                    a(href="#"): img(src="assets/img/telegram.png", alt="").footer--img 
                    a(href="#"): img(src="assets/img/viber.png", alt="").footer--img 
                    a(href="#"): img(src="assets/img/vk.png", alt="").footer--img 
        .footer__bottom 
            .container
                .footer__past
                    .footer__middle
                        span.footer__left © 2020. «Pica-premium»
                    .footer__middle
                        .footer__three
                            img(src="assets/img/uzcard.png", alt="")
                            img(src="assets/img/visa1.png", alt="")
                            img(src="assets/img/humo.png", alt="")
                    .footer__middle
                        span.footer__right Разработка сайтов Tuitsoft.uz
