.jevel
    .container
        .jevel__text
            h2.jevel--h2 Украшение
        .jevel__flex
            .jevel__start
                p.jevel--p Главная
                p.jevel--p /
                p.jevel--p Каталог
                p.jevel--p /
                p.jevel--p Украшение
            .jevel__end
                span.jevel--span Сортировать по 