.menu
    .container
        .menu__text
            .menu__start
                span.menu--span Шикарное, крупное колье из лазурита <br> "Счастливое солнце"
            .menu__end
                p.menu--p Главная
                p.menu--p /
                p.menu--p Каталог
                p.menu--p /
                p.menu--p Украшение
                p.menu--p  Шикарное, крупное колье из лазурита <br>"Счастливое солнце" 