.jevel
    .container
        .jevel__text
            h2.jevel--h2 О нас
        .jevel__flex
            .jevel__start
                a(href="").jevel--p Главная
                p.jevel--p /
                a(href="").jevel--p О нас

