block content
    .search(style=('background-image:url(assets/img/background.jpg)'))
        .container
            .search__text
                p.search__receive Получайте свежие тренды и уникальные идеи для подарков.
            .search__img
                input.search__input(type="text" placeholder="Ваш email")
                button.search--button Подписаться