.slider__pug(style=('background-image:url(assets/img/mainslider.jpg)'))
    .container
        .splide.slider
            .splide__track
                .splide__list.slider__list
                    .splide__slide.slider__item
                        .splide__item__text
                            h1.splide--h1 Уединённый уголок
                            p.splide--p Мелочи для приятной домашней атмосферы
                            button.splide--button Все продукции 
                        .splide__item__pic(style=('background-image:url(assets/img/choynak.png)'))
                    .splide__slide.slider__item
                        .splide__item__text
                            h1.splide--h1 Необычная обувь
                            p.splide--p Мелочи для приятной домашней атмосферы
                            button.splide--button Все продукции 
                        .splide__item__pic(style=('background-image:url(assets/img/choynak.png)'))
                    .splide__slide.slider__item
                        .splide__item__text
                            h1.splide--h1 Сувениры и подарки
                            p.splide--p Мелочи для приятной домашней атмосферы
                            button.splide--button Все продукции 
                        .splide__item__pic(style=('background-image:url(assets/img/choynak.png)'))
                    .splide__slide.slider__item
                        .splide__item__text
                            h1.splide--h1 Уединённый уголок
                            p.splide--p Мелочи для приятной домашней атмосферы
                            button.splide--button Все продукции 
                        .splide__item__pic(style=('background-image:url(assets/img/choynak.png)'))




            