
.aboutme__text__pic{
    display: flex;
    justify-content: space-between;
}
.aboutme__text{
    width: 1005px;
    height: 356px;
}
.about__me{
    font-size: 18px;
    font-family: 'rw-r';
    line-height: 28px;
}
.about__we{
    font-size: 18px;
    font-family: 'rw-r';
    line-height: 28px;
}
.aboutme__tekst{
    margin-top: 25px;
}
.about__me--img{
    margin-top: 20px;
    margin-bottom: 40px;
}