extends ../blocks/temp.pug

block content
    include ../blocks/slider.pug
    include ../blocks/banner.pug
    include ../blocks/card.pug
    include ../blocks/search.pug
    include ../blocks/magazine.pug

block script
    script new Splide( '.slider', {type   : 'loop',perPage: 1,gap:0,padding:0,perMove: 1,autoplay:true,interval:200000,infinity:true}).mount();